body {
    /*height: 1282px;*/
    width: 1480px;
    margin: auto;
    /*border-radius: 0px;*/
    /*display: block;*/
    /*justify-content: center;*/

}


.wrapper {
    /*width: 1280px;*/
    padding: 63px 100px 0;
    justify-content: center;
}
a {
    text-decoration: none;
}

li {
    list-style: none;
    height: 71px;
}

.banner-content {
    display: inline-block;
    align-items: center;
}

.banner-text {
    width: 334px;
    height: 79px;
    left: 0px;
    top: 0px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;

    color: #000000;

    margin-bottom: 40px;
}

.banner-next-color {
    color: #4BCAFF;
}

.navbar {
    display: flex;
    justify-content: center;
    width: 1240px;
    height: 69px;
    background: #35444F;
    align-items: center;
    margin-top: 0;
    margin-bottom: 49px;
}

.navbar-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 24px 38px 18px 38px ;
    border: 1px solid white;
    color: #FFFFFF;
}

.navbar-content:hover {
    background-color: #222F3A;
}

.main-content {
    display: flex;
    flex-direction: row;
}

.left-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 344px;
    height: 399px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    box-sizing: border-box;
}

.left-menu-content {
    margin-left: 44px;
    width: 344px;
    height: 79px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 27px;
    line-height: 27px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    box-sizing: border-box;
    color: #485863;
}

.left-menu-content:hover {
    background-color: #DBDBDB;
    font-weight: 400;
    margin-left: 0;
    justify-content: center;
}

.ramda-image {
    padding: 75px 297px 73px 268px;
    border: 1px solid black;
    margin-left: 52px;
}

.ramda-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    width: 885px;
    height: 120px;
    left: 0px;
    top: 566px;
    margin-left: 52px;
}

.footer-content {
    width: 1280px;
    height: 69px;
    left: 0px;
    top: 0px;
    background: rgba(99, 105, 110, 0.48);
    justify-content: space-around;
    display: flex;

}

.footer-nav {
    width: 982px;
    height: 67px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 28px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #0C1927;
}

.footer-text:hover {
    color: #3181A6;
    text-decoration: underline;
}

.footer-copyright {
    color: black;
    text-decoration: none;
}
